/.idea/.gitignore
/.idea/Homework_2.5.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
.idea/dbnavigator.xml
__pycache__/currency_exchange.cpython-310.pyc
